<h2 mat-dialog-title>{{ task.name }}</h2>
<mat-dialog-content>
  <div class="task-details">
    <p><strong>Description:</strong></p>
    <div class="scrollable-description">
      {{ task.description }}
    </div>

    <div class="task-info">
      <p><strong>Priority:</strong>
        <mat-chip [color]="getPriorityColor(task.priority)" selected>
          {{ task.priority }}
        </mat-chip>
      </p>
      <p><strong>Status:</strong>
        <mat-chip [color]="getStatusColor(task.status)" selected>
          {{ task.status }}
        </mat-chip>
      </p>
    </div>

    <p><strong>Assigned To:</strong> {{ task.assignedTo }}</p>
    <p><strong>Due Date:</strong> {{ task.dueDate | date: 'longDate' }}</p>
  </div>
  <button  mat-button (click)="openEditDialog()">Edit Task</button>
  <button class="btn" type="button" mat-stroked-button (click)="closeDialog()">Cancel</button>
</mat-dialog-content>
